---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p>AI Technical Lead and Consultance</p>
  <p>
    Senior Project Manager with 10+ years of experience in IT Project Delivery, Digital Banking, and Innovation Management. Proven track record in leading cross-functional teams, managing AI and data-driven initiatives, and delivering large-scale digital transformation projects. Adept at stakeholder management, vendor coordination, and Agile methodologies. Passionate about driving AI adoption to create measurable business impact.

  </p>
  <p>
    Motto: I don’t just build software — I build possibilities. <Spoiler></Spoiler>
  </p>
  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' variant='ahead' />

  {/* general-talk */}
  <h2 id='Certificate'>Hobbies</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet, vidit suscipit at mei.</li>
    <li>
      Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod
      voluptua ne.
    </li>
    <li>Ex dicat impedit mel, at eum oratio possit voluptatum.</li>
    <li>Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Background</h2>
  <p></p>
  <ToolSection
    class='mb-5'
    title='Cloud Architecture'
    tools={[
      {
        name: 'AWS Certified Solutions Architect Associate',
        description: 'SAA-C03',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/aws.svg?raw')
      },
      {
        name: 'AWS Certified Cloud Practitioner',
        description: 'CLF-C02',
        href: 'https://www.adobe.com/products/illustrator',
        icon: import('@/assets/tools/aws.svg?raw')
      },
      {
        name: 'AWS Certified AI Practitioner',
        description: 'AIF-C01',
        href: 'https://www.adobe.com/products/aftereffects',
        icon: import('@/assets/tools/aws.svg?raw')
      }
      
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Project Management'
    tools={[
      {
        name: 'PMI Certified Professional in Managing AI (PMI-CPMAI)™',
        description: 'PMI-CPMAI',
        href: 'https://www.pmi.org/certifications/ai-project-management-cpmai',
        icon: import('@/assets/tools/pmp.svg?raw')
      },
      {
        name: 'PMI Agile Certified Practitioner (PMI-ACP)®',
        description: 'PMI-ACP',
        href: 'https://www.pmi.org/certifications/agile-acp',
        icon: import('@/assets/tools/pmp.svg?raw')
      },
      {
        name: 'Project Management Professional (PMP)®',
        description: 'PMP',
        href: 'https://www.pmi.org/certifications/project-management-pmp?s_kwcid=AL!8620!3!701400403422!e!!g!!pmp&gclsrc=aw.ds&&utm_job_number=4&utm_region_name=asia_pacific&utm_funnel_stage=customer_acquisition&utm_marketing_channel=paid_media&utm_marketing_subchannel=search_ppc_nonbranded&utm_start_date=06042024&utm_end_date=12312024&utm_source=google&utm_custom_field_one=pmp_certification_asia_pacific&utm_custom_field_two=pmp_asia_pacific_core&utm_custom_field_three=701400403422&utm_custom_field_four=pmp&utm_custom_field_five=e&gad_source=1&gad_campaignid=10754669987&gbraid=0AAAAADkaZHtn-eHzGmAEpRoYOSdEu8yKi&gclid=CjwKCAjw5ZXQBhBdEiwAI5XVWX-NWIGJo2CfYliryC80rmR08fljcaeIFHG28cfk9ElcZuaUl6Lv9RoCYqQQAvD_BwE',
        icon: import('@/assets/tools/pmp.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='AI & Machine Learning'
    tools={[
      {
        name: 'Claude Code',
        description: "Claude’s coding assistant",
        href: 'https://claude.ai/',
        icon: import('@/assets/tools/claude.svg?raw')
      },
      {
        name: 'OpenClaw',
        description: 'OpenClaw is a knowledge graph and vector database  for AI applications.',
        href: 'https://openclaw.ai/',
        icon: import('@/assets/tools/openclaw.svg?raw')
      },
      {
        name: ‘Google Gemini’,
        description: "Google’s AI assistant",
        href: ‘https://gemini.google.com/’,
        icon: import(‘@/assets/tools/gemini.svg?raw’)
      },
      {
        name: 'Chat GPT',
        description: 'ChatGPT is a language model developed by OpenAI.',
        href: 'https://chatgpt.com/',
        icon: import('@/assets/tools/chatgpt.svg?raw')
      }
    ]}
    
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum
    dissentiunt, cu meliore fuisset mei, vel quod voluptua ne.
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/prakart',
        text: 'followers',
        api: 'github/prakart'
      },
      {
        platform: 'X',
        icon: 'x',
        color: '#2ca5e0',
        link: 'https://x.com/prakart',
        text: 'subscribers',
        api: 'x/prakart'
      }
     
    ]}
  />

  {/* gossips */}
  <h2 id='gossips'>Background</h2>
  <Collapse title='Lorem ipsum'>
    Senior Project Manager with 10+ years of experience in IT Project Delivery, Digital Banking, and Innovation Management. Proven track record in leading cross-functional teams, managing AI and data-driven initiatives, and delivering large-scale digital transformation projects. Adept at stakeholder management, vendor coordination, and Agile methodologies. Passionate about driving AI adoption to create measurable business impact.
  </Collapse>

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <!-- 
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2024-04-29',
        content:
          'Website refactored using <a href="https://astro.build/" target="_blank">Astro</a> and <a href="https://github.com/srleom/astro-theme-resume" target="_blank">Astro Theme Resume</a>'
      },
      {
        date: '2024-07-26',
        content:
          'Website abstracted as a theme and published on <a href="https://github.com/cworld1/astro-theme-pure"target="_blank">Github</a>'
      },
      {
        date: '2024-07-27',
        content: 'Began writing website docs'
      }
    ]}
  />
  -->
  <p>
    Passionate about AI, software engineering, and building innovative technology solutions. Experienced in project management, system development, and technical leadership, with a strong interest in Generative AI and AI-powered applications.
  </p>
  <!--
  <ul>
    <li>Domain: <a href='#' target='_blank'>Vercel</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
   -->
</PageLayout>
